/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0F0F0F;
 
}

/* Navbar */

.navbar {
  background: #1A1A1AB8;

  color: white;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
  z-index: 10;
}
.logo:hover{
  color: #FECB55FC;
  cursor: pointer;
 

}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  i{
    color: #6C4EFF;
  }
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color:  #FECB55FC;

}

/* Button */
.btn {
  background: #6C4EFF;
  width: 90px;
  height: 41px;
  border-radius: 12px;
  text-align: center;

padding: 7.5px 11px;
  
  color: white;
  
  text-decoration: none;
  transition:  ease-in,0.3s;
}

.btn:hover {
  transition: ease-in,0.3s;
  background-color: #6C4EFF;
    color: #FECB55FC;




}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links,
  .btn {
    display: none;
  }

  .nav-links.mobile-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    left:  0;
    top: 80px;
    width: 100%;
    background: #9580FDE8;
 ;
 ;
    padding: 20px 0;
    gap: 20px;
    text-align: center;
        animation: slideDown 0.4s ease-in-out;
        overflow-y: auto;
        max-height: 80vh;
        z-index: 999;

  }

  .btn {
    display: inline-block;
    margin: 0 auto;
  }

  .hamburger {
    display: block;
  }
}
